# Import libraries

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [2]:
path = r'D:\CF NHL Project\2 Data'

In [3]:
game_team = pd.read_csv(os.path.join(path, 'Original Data', 'game_teams_stats.csv'), index_col = False)

## Game team stats cleaning

In [4]:
game_team.head()

,game_id,team_id,HoA,won,settled_in,head_coach,goals,shots,hits,pim,powerPlayOpportunities,powerPlayGoals,faceOffWinPercentage,giveaways,takeaways,blocked,startRinkSide
0,2016020045,4,away,False,REG,Dave Hakstol,4.0,27.0,30.0,6.0,4.0,2.0,50.9,12.0,9.0,11.0,left
1,2016020045,16,home,True,REG,Joel Quenneville,7.0,28.0,20.0,8.0,3.0,2.0,49.1,16.0,8.0,9.0,left
2,2017020812,24,away,True,OT,Randy Carlyle,4.0,34.0,16.0,6.0,3.0,1.0,43.8,7.0,4.0,14.0,right
3,2017020812,7,home,False,OT,Phil Housley,3.0,33.0,17.0,8.0,2.0,1.0,56.2,5.0,6.0,14.0,right
4,2015020314,21,away,True,REG,Patrick Roy,4.0,29.0,17.0,9.0,3.0,1.0,45.7,13.0,5.0,20.0,left

In [5]:
game_team.rename(columns = {'HoA' : 'home_or_away'}, inplace = True)

In [6]:
game_team.head()

,game_id,team_id,home_or_away,won,settled_in,head_coach,goals,shots,hits,pim,powerPlayOpportunities,powerPlayGoals,faceOffWinPercentage,giveaways,takeaways,blocked,startRinkSide
0,2016020045,4,away,False,REG,Dave Hakstol,4.0,27.0,30.0,6.0,4.0,2.0,50.9,12.0,9.0,11.0,left
1,2016020045,16,home,True,REG,Joel Quenneville,7.0,28.0,20.0,8.0,3.0,2.0,49.1,16.0,8.0,9.0,left
2,2017020812,24,away,True,OT,Randy Carlyle,4.0,34.0,16.0,6.0,3.0,1.0,43.8,7.0,4.0,14.0,right
3,2017020812,7,home,False,OT,Phil Housley,3.0,33.0,17.0,8.0,2.0,1.0,56.2,5.0,6.0,14.0,right
4,2015020314,21,away,True,REG,Patrick Roy,4.0,29.0,17.0,9.0,3.0,1.0,45.7,13.0,5.0,20.0,left

In [7]:
game_team['team_id'].value_counts(dropna = False)

6     1822
14    1804
19    1794
15    1789
28    1787
5     1786
16    1771
3     1768
18    1762
25    1761
26    1744
2     1743
24    1739
23    1736
4     1735
8     1732
21    1731
29    1721
30    1714
17    1713
10    1709
20    1709
9     1709
12    1705
1     1691
22    1686
13    1682
7     1669
27    1052
52     888
11     820
53     650
54     468
88       6
87       6
90       4
89       4
Name: team_id, dtype: int64

In [8]:
# Removing rink side data
game_team_2 = game_team.drop(columns = ['startRinkSide'])

In [9]:
game_team_2.head()

,game_id,team_id,home_or_away,won,settled_in,head_coach,goals,shots,hits,pim,powerPlayOpportunities,powerPlayGoals,faceOffWinPercentage,giveaways,takeaways,blocked
0,2016020045,4,away,False,REG,Dave Hakstol,4.0,27.0,30.0,6.0,4.0,2.0,50.9,12.0,9.0,11.0
1,2016020045,16,home,True,REG,Joel Quenneville,7.0,28.0,20.0,8.0,3.0,2.0,49.1,16.0,8.0,9.0
2,2017020812,24,away,True,OT,Randy Carlyle,4.0,34.0,16.0,6.0,3.0,1.0,43.8,7.0,4.0,14.0
3,2017020812,7,home,False,OT,Phil Housley,3.0,33.0,17.0,8.0,2.0,1.0,56.2,5.0,6.0,14.0
4,2015020314,21,away,True,REG,Patrick Roy,4.0,29.0,17.0,9.0,3.0,1.0,45.7,13.0,5.0,20.0

In [10]:
#Checking for mixed values
for col in game_team_2.columns.tolist():
    weird = (game_team_2[[col]].applymap(type) != game_team_2[[col]].iloc[0].apply(type)).any(axis = 1)
    if len (game_team_2[weird]) > 0:
        print(col)

head_coach

In [11]:
game_team_2['head_coach'].value_counts(dropna = False)

Barry Trotz         1804
Joel Quenneville    1599
John Tortorella     1563
Claude Julien       1500
Mike Babcock        1475
                    ...
Cap Raeder             1
Al Arbour              1
Dan Lacroix            1
Terry O'Reilly         1
Martin Raymond         1
Name: head_coach, Length: 147, dtype: int64

In [12]:
game_team_2['head_coach'] = game_team_2['head_coach'].astype('str')

In [13]:
game_team_2.isnull().sum()

game_id                       0
team_id                       0
home_or_away                  0
won                           0
settled_in                    0
head_coach                    0
goals                         8
shots                         8
hits                       4928
pim                           8
powerPlayOpportunities        8
powerPlayGoals                8
faceOffWinPercentage      22148
giveaways                  4928
takeaways                  4928
blocked                    4928
dtype: int64

In [14]:
game_team_2.describe()

,game_id,team_id,goals,shots,hits,pim,powerPlayOpportunities,powerPlayGoals,faceOffWinPercentage,giveaways,takeaways,blocked
count,5.261000e+04,52610.000000,52602.000000,52602.000000,47682.000000,52602.000000,52602.000000,52602.000000,30462.000000,47682.000000,47682.000000,47682.000000
mean,2.010765e+09,16.880403,2.781282,29.930744,21.127449,11.754838,3.693567,0.667674,49.967179,8.832977,6.745040,13.317352
std,6.073510e+06,11.195171,1.657257,6.896107,9.237332,9.029566,1.870606,0.813093,7.326322,5.478274,4.144502,5.581261
min,2.000020e+09,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.006020e+09,8.000000,2.000000,25.000000,15.000000,6.000000,2.000000,0.000000,45.200000,5.000000,4.000000,10.000000
50%,2.011021e+09,16.000000,3.000000,30.000000,20.000000,10.000000,3.000000,0.000000,50.000000,8.000000,6.000000,13.000000
75%,2.016030e+09,24.000000,4.000000,34.000000,27.000000,15.000000,5.000000,1.000000,54.800000,12.000000,9.000000,17.000000
max,2.019041e+09,90.000000,12.000000,88.000000,80.000000,213.000000,16.000000,7.000000,79.200000,52.000000,40.000000,62.000000

In [15]:
game_team_2['giveaways'] = game_team_2['giveaways'].fillna(game_team_2['giveaways'].mean())

In [16]:
game_team_2['faceOffWinPercentage'] = game_team_2['faceOffWinPercentage'].fillna(game_team_2['faceOffWinPercentage'].median())

In [17]:
game_team_2['hits'] = game_team_2['hits'].fillna(game_team_2['hits'].mean())

In [18]:
game_team_2['takeaways'] = game_team_2['takeaways'].fillna(game_team_2['takeaways'].mean())

In [19]:
game_team_2['blocked'] = game_team_2['blocked'].fillna(game_team_2['blocked'].mean())

In [20]:
game_team_dupe = game_team_2[game_team_2.duplicated()]

In [21]:
game_team_dupe

,game_id,team_id,home_or_away,won,settled_in,head_coach,goals,shots,hits,pim,powerPlayOpportunities,powerPlayGoals,faceOffWinPercentage,giveaways,takeaways,blocked
42328,2019020001,9,away,False,REG,D.J. Smith,3.0,26.0,44.0,10.0,3.0,0.0,57.5,8.0,7.0,17.0
42329,2019020001,10,home,True,REG,Mike Babcock,5.0,42.0,17.0,6.0,5.0,1.0,42.5,12.0,13.0,9.0
42330,2019020002,15,away,True,OT,Todd Reirden,3.0,34.0,25.0,4.0,3.0,1.0,49.2,5.0,8.0,6.0
42331,2019020002,19,home,False,OT,Craig Berube,2.0,22.0,23.0,6.0,2.0,1.0,50.8,11.0,9.0,12.0
42332,2019020003,23,away,False,REG,Travis Green,2.0,33.0,21.0,4.0,4.0,0.0,51.0,11.0,6.0,17.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52601,2018030415,6,home,False,REG,Bruce Cassidy,1.0,39.0,43.0,2.0,3.0,0.0,40.6,4.0,11.0,15.0
52604,2018030416,6,away,True,REG,Bruce Cassidy,5.0,32.0,27.0,10.0,4.0,1.0,41.3,4.0,10.0,16.0
52605,2018030416,19,home,False,REG,Craig Berube,1.0,29.0,29.0,20.0,4.0,0.0,58.7,12.0,11.0,9.0
52608,2018030417,19,away,True,REG,Craig Berube,4.0,20.0,36.0,2.0,0.0,0.0,49.0,7.0,8.0,21.0
52609,2018030417,6,home,False,REG,Bruce Cassidy,1.0,33.0,28.0,0.0,1.0,0.0,51.0,13.0,6.0,7.0

In [22]:
game_team_2.shape

(52610, 16)

In [23]:
game_team_clean_nodup = game_team_2.drop_duplicates()

In [24]:
game_team_clean_nodup.shape

(47470, 16)

## Game data

In [25]:
game_df = pd.read_csv(os.path.join(path, 'Original Data', 'game.csv'), index_col = False)

In [26]:
game_df.head()

,game_id,season,type,date_time_GMT,away_team_id,home_team_id,away_goals,home_goals,outcome,home_rink_side_start,venue,venue_link,venue_time_zone_id,venue_time_zone_offset,venue_time_zone_tz
0,2016020045,20162017,R,2016-10-19T00:30:00Z,4,16,4,7,home win REG,right,United Center,/api/v1/venues/null,America/Chicago,-5,CDT
1,2017020812,20172018,R,2018-02-07T00:00:00Z,24,7,4,3,away win OT,left,KeyBank Center,/api/v1/venues/null,America/New_York,-4,EDT
2,2015020314,20152016,R,2015-11-24T01:00:00Z,21,52,4,1,away win REG,right,MTS Centre,/api/v1/venues/null,America/Winnipeg,-5,CDT
3,2015020849,20152016,R,2016-02-17T00:00:00Z,52,12,1,2,home win REG,right,PNC Arena,/api/v1/venues/null,America/New_York,-4,EDT
4,2017020586,20172018,R,2017-12-30T03:00:00Z,20,24,1,2,home win REG,left,Honda Center,/api/v1/venues/null,America/Los_Angeles,-7,PDT

In [27]:
#removing not applicable columns
game_df_2 = game_df.drop(columns = ['home_rink_side_start', 'venue_link', 'venue_time_zone_offset', 'venue_time_zone_tz', 'venue_time_zone_id'])

In [28]:
game_df_2.head()

,game_id,season,type,date_time_GMT,away_team_id,home_team_id,away_goals,home_goals,outcome,venue
0,2016020045,20162017,R,2016-10-19T00:30:00Z,4,16,4,7,home win REG,United Center
1,2017020812,20172018,R,2018-02-07T00:00:00Z,24,7,4,3,away win OT,KeyBank Center
2,2015020314,20152016,R,2015-11-24T01:00:00Z,21,52,4,1,away win REG,MTS Centre
3,2015020849,20152016,R,2016-02-17T00:00:00Z,52,12,1,2,home win REG,PNC Arena
4,2017020586,20172018,R,2017-12-30T03:00:00Z,20,24,1,2,home win REG,Honda Center

In [29]:
#Checking for mixed values
for col in game_df_2.columns.tolist():
    weird = (game_df_2[[col]].applymap(type) != game_df_2[[col]].iloc[0].apply(type)).any(axis = 1)
    if len (game_df_2[weird]) > 0:
        print(col)

In [30]:
#Checking missing values
game_df_2.isnull().sum()

game_id          0
season           0
type             0
date_time_GMT    0
away_team_id     0
home_team_id     0
away_goals       0
home_goals       0
outcome          0
venue            0
dtype: int64

In [31]:
#checking for dupes
game_df_dupe = game_df_2[game_df_2.duplicated()]

In [32]:
game_df_dupe

,game_id,season,type,date_time_GMT,away_team_id,home_team_id,away_goals,home_goals,outcome,venue
21164,2019020001,20192020,R,2019-10-02T23:00:00Z,9,10,3,5,home win REG,Scotiabank Arena
21165,2019020002,20192020,R,2019-10-03T00:00:00Z,15,19,3,2,away win OT,Enterprise Center
21166,2019020003,20192020,R,2019-10-03T02:00:00Z,23,22,2,3,home win REG,Rogers Place
21167,2019020004,20192020,R,2019-10-03T02:30:00Z,28,54,1,4,home win REG,T-Mobile Arena
21176,2019020005,20192020,R,2019-10-03T23:00:00Z,13,14,2,5,home win REG,Amalie Arena
...,...,...,...,...,...,...,...,...,...,...
26296,2018030413,20182019,P,2019-06-02T00:00:00Z,6,19,7,2,away win REG,Enterprise Center
26298,2018030414,20182019,P,2019-06-04T00:00:00Z,6,19,2,4,home win REG,Enterprise Center
26300,2018030415,20182019,P,2019-06-07T00:00:00Z,19,6,2,1,away win REG,TD Garden
26302,2018030416,20182019,P,2019-06-10T00:00:00Z,6,19,5,1,away win REG,Enterprise Center
26304,2018030417,20182019,P,2019-06-13T00:00:00Z,19,6,4,1,away win REG,TD Garden

In [33]:
game_df_2.shape

(26305, 10)

In [34]:
game_df_clean_nodup = game_df_2.drop_duplicates()

In [35]:
game_df_clean_nodup.shape

(23735, 10)

## Team info

In [36]:
team_info = pd.read_csv(os.path.join(path, 'Original Data', 'team_info.csv'), index_col = False)

In [37]:
team_info.head()

,team_id,franchiseId,shortName,teamName,abbreviation,link
0,1,23,New Jersey,Devils,NJD,/api/v1/teams/1
1,4,16,Philadelphia,Flyers,PHI,/api/v1/teams/4
2,26,14,Los Angeles,Kings,LAK,/api/v1/teams/26
3,14,31,Tampa Bay,Lightning,TBL,/api/v1/teams/14
4,6,6,Boston,Bruins,BOS,/api/v1/teams/6

In [38]:
#Dropping link column
team_info_2 = team_info.drop(columns = ['link'])

In [39]:
team_info_2.head()

   team_id  franchiseId     shortName   teamName abbreviation
0        1           23    New Jersey     Devils          NJD
1        4           16  Philadelphia     Flyers          PHI
2       26           14   Los Angeles      Kings          LAK
3       14           31     Tampa Bay  Lightning          TBL
4        6            6        Boston     Bruins          BOS

In [40]:
#Checking for mixed values
for col in team_info_2.columns.tolist():
    weird = (team_info_2[[col]].applymap(type) != team_info_2[[col]].iloc[0].apply(type)).any(axis = 1)
    if len (team_info_2[weird]) > 0:
        print(col)

In [41]:
#Checking missing values
team_info_2.isnull().sum()

team_id         0
franchiseId     0
shortName       0
teamName        0
abbreviation    0
dtype: int64

In [42]:
#checking for dupes
team_info_dupe = team_info_2[team_info_2.duplicated()]

In [43]:
team_info_dupe

Empty DataFrame
Columns: [team_id, franchiseId, shortName, teamName, abbreviation]
Index: []

## Adding remaining docs

In [44]:
game_skater = pd.read_csv(os.path.join(path, 'Original Data', 'game_skater_stats.csv'), index_col = False)

In [45]:
game_goalie = pd.read_csv(os.path.join(path, 'Original Data', 'game_goalie_stats.csv'), index_col = False)

In [46]:
player_info = pd.read_csv(os.path.join(path, 'Original Data', 'player_info.csv'), index_col = False)

### Game skater cleaning

In [47]:
game_skater.head()

,game_id,player_id,team_id,timeOnIce,assists,goals,shots,hits,powerPlayGoals,powerPlayAssists,...,faceoffTaken,takeaways,giveaways,shortHandedGoals,shortHandedAssists,blocked,plusMinus,evenTimeOnIce,shortHandedTimeOnIce,powerPlayTimeOnIce
0,2016020045,8468513,4,955,1,0,0,2.0,0,0,...,0,1.0,1.0,0,0,1.0,1,858,97,0
1,2016020045,8476906,4,1396,1,0,4,2.0,0,0,...,0,1.0,2.0,0,0,2.0,0,1177,0,219
2,2016020045,8474668,4,915,0,0,1,1.0,0,0,...,0,2.0,0.0,0,0,0.0,-1,805,0,110
3,2016020045,8473512,4,1367,3,0,0,0.0,0,2,...,27,0.0,0.0,0,0,0.0,-1,1083,19,265
4,2016020045,8471762,4,676,0,0,3,2.0,0,0,...,0,0.0,1.0,0,0,0.0,-1,613,63,0

In [48]:
game_skater.shape

(945830, 22)

In [49]:
#Checking for mixed values in game skater stats
for col in game_skater.columns.tolist():
    weird = (game_skater[[col]].applymap(type) != game_skater[[col]].iloc[0].apply(type)).any(axis = 1)
    if len (game_skater[weird]) > 0:
        print(col)

In [50]:
game_skater.isnull().sum()

game_id                      0
player_id                    0
team_id                      0
timeOnIce                    0
assists                      0
goals                        0
shots                        0
hits                    398107
powerPlayGoals               0
powerPlayAssists             0
penaltyMinutes               0
faceOffWins                  0
faceoffTaken                 0
takeaways               398107
giveaways               398107
shortHandedGoals             0
shortHandedAssists           0
blocked                 398107
plusMinus                    0
evenTimeOnIce                0
shortHandedTimeOnIce         0
powerPlayTimeOnIce           0
dtype: int64

In [51]:
game_skater_nan = game_skater[game_skater['hits'].isnull() == True]

In [52]:
game_skater_nan

,game_id,player_id,team_id,timeOnIce,assists,goals,shots,hits,powerPlayGoals,powerPlayAssists,...,faceoffTaken,takeaways,giveaways,shortHandedGoals,shortHandedAssists,blocked,plusMinus,evenTimeOnIce,shortHandedTimeOnIce,powerPlayTimeOnIce
337312,2009021012,8468434,19,988,2,1,3,NaN,0,2,...,8,NaN,NaN,0,0,NaN,1,693,64,231
337313,2009021012,8469508,19,1130,1,0,0,NaN,0,0,...,22,NaN,NaN,0,1,NaN,0,808,322,0
337314,2009021012,8470647,19,672,0,1,2,NaN,0,0,...,5,NaN,NaN,1,0,NaN,1,462,210,0
337315,2009021012,8468478,19,1003,0,0,0,NaN,0,0,...,0,NaN,NaN,0,0,NaN,0,655,348,0
337316,2009021012,8466142,19,1416,0,0,1,NaN,0,0,...,0,NaN,NaN,0,0,NaN,0,1084,332,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
735414,2001020101,8462107,11,880,1,0,5,NaN,0,0,...,0,NaN,NaN,0,0,NaN,0,707,51,122
735415,2001020101,8469454,11,1170,0,1,4,NaN,0,0,...,0,NaN,NaN,0,0,NaN,1,868,3,299
735416,2001020101,8460573,11,921,0,0,2,NaN,0,0,...,0,NaN,NaN,0,0,NaN,-1,659,140,122
735417,2001020101,8462115,11,837,1,0,1,NaN,0,0,...,0,NaN,NaN,0,0,NaN,-1,701,136,0
735418,2001020101,8468427,11,1446,1,0,3,NaN,0,0,...,0,NaN,NaN,0,0,NaN,1,1022,255,169

In [53]:
game_skater.describe()

,game_id,player_id,team_id,timeOnIce,assists,goals,shots,hits,powerPlayGoals,powerPlayAssists,...,faceoffTaken,takeaways,giveaways,shortHandedGoals,shortHandedAssists,blocked,plusMinus,evenTimeOnIce,shortHandedTimeOnIce,powerPlayTimeOnIce
count,9.458300e+05,9.458300e+05,945830.000000,945830.000000,945830.000000,945830.000000,945830.000000,547723.000000,945830.000000,945830.000000,...,945830.000000,547723.000000,547723.000000,945830.000000,945830.000000,547723.000000,945830.000000,945830.000000,945830.000000,945830.000000
mean,2.010763e+09,8.469436e+06,16.862985,988.705195,0.262792,0.154644,1.664201,1.304696,0.037124,0.070543,...,3.345550,0.391313,0.475580,0.004924,0.005195,0.798327,-0.007727,807.715360,80.117924,100.871911
std,6.072766e+06,7.299758e+03,11.146468,310.968101,0.533979,0.408620,1.547529,1.462937,0.196857,0.276856,...,6.176884,0.671742,0.765434,0.070568,0.072288,1.095038,1.094068,245.388009,95.408978,118.131458
min,2.000020e+09,8.444894e+06,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-7.000000,0.000000,0.000000,0.000000
25%,2.006020e+09,8.466181e+06,8.000000,787.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-1.000000,650.000000,0.000000,0.000000
50%,2.011021e+09,8.470626e+06,16.000000,999.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,809.000000,47.000000,60.000000
75%,2.016030e+09,8.475169e+06,24.000000,1198.000000,0.000000,0.000000,2.000000,2.000000,0.000000,0.000000,...,3.000000,1.000000,1.000000,0.000000,0.000000,1.000000,1.000000,968.000000,133.000000,169.000000
max,2.019041e+09,8.481813e+06,90.000000,4316.000000,5.000000,5.000000,16.000000,15.000000,4.000000,5.000000,...,46.000000,8.000000,8.000000,2.000000,2.000000,15.000000,7.000000,3411.000000,908.000000,1205.000000

In [54]:
game_skater['takeaways'] = game_skater['takeaways'].fillna(game_skater['takeaways'].mean())

In [55]:
game_skater['hits'] = game_skater['hits'].fillna(game_skater['hits'].mean())

In [56]:
game_skater['giveaways'] = game_skater['giveaways'].fillna(game_skater['giveaways'].mean())

In [57]:
game_skater['blocked'] = game_skater['blocked'].fillna(game_skater['blocked'].mean())

In [58]:
game_skater.isnull().sum()

game_id                 0
player_id               0
team_id                 0
timeOnIce               0
assists                 0
goals                   0
shots                   0
hits                    0
powerPlayGoals          0
powerPlayAssists        0
penaltyMinutes          0
faceOffWins             0
faceoffTaken            0
takeaways               0
giveaways               0
shortHandedGoals        0
shortHandedAssists      0
blocked                 0
plusMinus               0
evenTimeOnIce           0
shortHandedTimeOnIce    0
powerPlayTimeOnIce      0
dtype: int64

In [59]:
game_skater.shape

(945830, 22)

In [60]:
skater_dup = game_skater[game_skater.duplicated()]

In [61]:
skater_dup

,game_id,player_id,team_id,timeOnIce,assists,goals,shots,hits,powerPlayGoals,powerPlayAssists,...,faceoffTaken,takeaways,giveaways,shortHandedGoals,shortHandedAssists,blocked,plusMinus,evenTimeOnIce,shortHandedTimeOnIce,powerPlayTimeOnIce
760942,2019020001,8480073,9,957,0,0,1,4.0,0,0,...,0,0.0,1.0,0,0,2.0,0,820,0,137
760943,2019020001,8476919,9,1061,1,0,1,5.0,0,0,...,15,0.0,1.0,0,0,2.0,1,723,149,189
760944,2019020001,8477407,9,1013,0,0,3,4.0,0,0,...,1,0.0,0.0,0,0,0.0,1,610,200,203
760945,2019020001,8476419,9,792,1,0,0,1.0,0,0,...,15,1.0,0.0,0,0,0.0,1,576,215,1
760946,2019020001,8468493,9,1053,0,0,0,2.0,0,0,...,0,0.0,1.0,0,0,2.0,0,770,283,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
945825,2018030417,8475807,6,501,0,0,1,2.0,0,0,...,0,0.0,0.0,0,0,0.0,-1,501,0,0
945826,2018030417,8475149,6,1062,0,0,2,0.0,0,0,...,1,1.0,0.0,0,0,0.0,-1,957,0,105
945827,2018030417,8475745,6,913,0,0,2,3.0,0,0,...,11,1.0,0.0,0,0,0.0,0,913,0,0
945828,2018030417,8478443,6,1006,0,0,1,1.0,0,0,...,0,0.0,1.0,0,0,2.0,-1,1006,0,0
945829,2018030417,8478046,6,909,0,0,2,0.0,0,0,...,0,1.0,1.0,0,0,0.0,0,909,0,0

In [62]:
skater_dup.shape

(92426, 22)

In [63]:
game_skater_clean_nodup = game_skater.drop_duplicates()

In [64]:
game_skater_clean_nodup.shape

(853404, 22)

### Goalie cleaning

In [65]:
game_goalie.head()

,game_id,player_id,team_id,timeOnIce,assists,goals,pim,shots,saves,powerPlaySaves,shortHandedSaves,evenSaves,shortHandedShotsAgainst,evenShotsAgainst,powerPlayShotsAgainst,decision,savePercentage,powerPlaySavePercentage,evenStrengthSavePercentage
0,2016020045,8473607,4,1504,0,0,0,16,12,1,0,11,0,13,3,NaN,75.000000,33.333333,84.615385
1,2016020045,8473461,4,2011,0,0,0,11,9,1,0,8,0,10,1,L,81.818182,100.000000,80.000000
2,2016020045,8470645,16,3598,0,0,0,27,23,2,0,21,0,23,4,W,85.185185,50.000000,91.304348
3,2017020812,8468011,24,3696,0,0,0,33,30,1,2,27,3,28,2,W,90.909091,50.000000,96.428571
4,2017020812,8475215,7,3539,0,0,0,33,29,4,1,24,1,27,5,L,87.878788,80.000000,88.888889

In [66]:
#Checking for mixed values in goalie stats
for col in game_goalie.columns.tolist():
    weird = (game_goalie[[col]].applymap(type) != game_goalie[[col]].iloc[0].apply(type)).any(axis = 1)
    if len (game_goalie[weird]) > 0:
        print(col)

decision

In [67]:
game_goalie['decision'].value_counts(dropna = False)

L      26277
W      26277
NaN     4102
Name: decision, dtype: int64

In [68]:
game_goalie['decision'] = game_goalie['decision'].astype('str')

In [69]:
game_goalie.isnull().sum()

game_id                          0
player_id                        0
team_id                          0
timeOnIce                        0
assists                          0
goals                            0
pim                              0
shots                            0
saves                            0
powerPlaySaves                   0
shortHandedSaves                 0
evenSaves                        0
shortHandedShotsAgainst          0
evenShotsAgainst                 0
powerPlayShotsAgainst            0
decision                         0
savePercentage                 139
powerPlaySavePercentage       4743
evenStrengthSavePercentage     197
dtype: int64

In [70]:
goalie_save = game_goalie[game_goalie['savePercentage'].isnull() == True]

In [71]:
goalie_save

,game_id,player_id,team_id,timeOnIce,assists,goals,pim,shots,saves,powerPlaySaves,shortHandedSaves,evenSaves,shortHandedShotsAgainst,evenShotsAgainst,powerPlayShotsAgainst,decision,savePercentage,powerPlaySavePercentage,evenStrengthSavePercentage
290,2016020163,8474593,23,308,0,0,0,0,0,0,0,0,0,0,0,nan,NaN,NaN,NaN
1103,2016020551,8479115,12,8,0,0,0,0,0,0,0,0,0,0,0,nan,NaN,NaN,NaN
1320,2016020500,8475622,19,66,0,0,0,0,0,0,0,0,0,0,0,nan,NaN,NaN,NaN
1532,2016020452,8477293,3,331,0,0,0,0,0,0,0,0,0,0,0,nan,NaN,NaN,NaN
2020,2015020537,8477293,3,319,0,0,0,0,0,0,0,0,0,0,0,nan,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48737,2019020719,8471695,6,72,0,0,0,0,0,0,0,0,0,0,0,nan,NaN,NaN,NaN
49743,2019020956,8477967,23,108,0,0,0,0,0,0,0,0,0,0,0,nan,NaN,NaN,NaN
49769,2019020956,8477967,23,108,0,0,0,0,0,0,0,0,0,0,0,nan,NaN,NaN,NaN
50040,2019021025,8476876,16,70,0,0,0,0,0,0,0,0,0,0,0,nan,NaN,NaN,NaN
50063,2019021025,8476876,16,70,0,0,0,0,0,0,0,0,0,0,0,nan,NaN,NaN,NaN

In [72]:
game_goalie.shape

(56656, 19)

In [73]:
goalie_pp = game_goalie[game_goalie['powerPlaySavePercentage'].isnull() == True]

In [74]:
goalie_pp

,game_id,player_id,team_id,timeOnIce,assists,goals,pim,shots,saves,powerPlaySaves,shortHandedSaves,evenSaves,shortHandedShotsAgainst,evenShotsAgainst,powerPlayShotsAgainst,decision,savePercentage,powerPlaySavePercentage,evenStrengthSavePercentage
39,2017021124,8474152,12,3600,0,0,0,30,23,0,1,22,1,29,0,L,76.666667,NaN,75.862069
44,2016020716,8476914,29,781,0,0,0,5,5,0,0,5,0,5,0,nan,100.000000,NaN,100.000000
46,2016020716,8471306,2,3600,0,0,0,23,21,0,0,21,0,23,0,W,91.304348,NaN,91.304348
52,2015021066,8475361,6,3600,0,0,0,26,22,0,2,20,2,24,0,L,84.615385,NaN,83.333333
56,2017020482,8471239,1,3690,0,0,0,36,34,0,0,34,0,36,0,L,94.444444,NaN,94.444444
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56581,2018030237,8476412,19,5144,0,0,0,30,29,0,0,29,0,30,0,W,96.666667,NaN,96.666667
56591,2018030321,8474889,28,3600,0,0,0,31,28,0,3,25,3,28,0,W,90.322581,NaN,89.285714
56593,2018030321,8474889,28,3600,0,0,0,31,28,0,3,25,3,28,0,W,90.322581,NaN,89.285714
56653,2018030417,8471695,6,3394,0,0,0,20,16,0,0,16,0,20,0,L,80.000000,NaN,80.000000
56655,2018030417,8471695,6,3394,0,0,0,20,16,0,0,16,0,20,0,L,80.000000,NaN,80.000000

In [75]:
goalie_even = game_goalie[game_goalie['evenStrengthSavePercentage'].isnull() == True]

In [76]:
goalie_even

,game_id,player_id,team_id,timeOnIce,assists,goals,pim,shots,saves,powerPlaySaves,shortHandedSaves,evenSaves,shortHandedShotsAgainst,evenShotsAgainst,powerPlayShotsAgainst,decision,savePercentage,powerPlaySavePercentage,evenStrengthSavePercentage
290,2016020163,8474593,23,308,0,0,0,0,0,0,0,0,0,0,0,nan,NaN,NaN,NaN
291,2016020163,8473523,10,308,0,0,0,3,3,3,0,0,0,0,3,nan,100.0,100.0,NaN
1103,2016020551,8479115,12,8,0,0,0,0,0,0,0,0,0,0,0,nan,NaN,NaN,NaN
1320,2016020500,8475622,19,66,0,0,0,0,0,0,0,0,0,0,0,nan,NaN,NaN,NaN
1532,2016020452,8477293,3,331,0,0,0,0,0,0,0,0,0,0,0,nan,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48737,2019020719,8471695,6,72,0,0,0,0,0,0,0,0,0,0,0,nan,NaN,NaN,NaN
49743,2019020956,8477967,23,108,0,0,0,0,0,0,0,0,0,0,0,nan,NaN,NaN,NaN
49769,2019020956,8477967,23,108,0,0,0,0,0,0,0,0,0,0,0,nan,NaN,NaN,NaN
50040,2019021025,8476876,16,70,0,0,0,0,0,0,0,0,0,0,0,nan,NaN,NaN,NaN
50063,2019021025,8476876,16,70,0,0,0,0,0,0,0,0,0,0,0,nan,NaN,NaN,NaN

In [77]:
#rename timeonice column to include time measurement
game_goalie.rename(columns = {'timeOnIce' : 'time_on_ice_seconds'}, inplace = True)

In [78]:
game_goalie.shape

(56656, 19)

In [79]:
game_goalie_clean = game_goalie[game_goalie['savePercentage'].isnull() == False]

In [80]:
game_goalie_clean.shape

(56517, 19)

In [81]:
game_goalie_clean_2 = game_goalie_clean[game_goalie_clean['evenStrengthSavePercentage'].isnull() == False]

In [82]:
game_goalie_clean.shape

(56517, 19)

In [83]:
game_goalie_clean_2 = game_goalie_clean[game_goalie_clean['savePercentage'].isnull() == False]

In [84]:
game_goalie_clean_2.shape

(56517, 19)

In [85]:
game_goalie_clean_2.isnull().sum()

game_id                          0
player_id                        0
team_id                          0
time_on_ice_seconds              0
assists                          0
goals                            0
pim                              0
shots                            0
saves                            0
powerPlaySaves                   0
shortHandedSaves                 0
evenSaves                        0
shortHandedShotsAgainst          0
evenShotsAgainst                 0
powerPlayShotsAgainst            0
decision                         0
savePercentage                   0
powerPlaySavePercentage       4604
evenStrengthSavePercentage      58
dtype: int64

In [86]:
goalie_dup = game_goalie_clean_2[game_goalie_clean_2.duplicated()]

In [87]:
goalie_dup

,game_id,player_id,team_id,time_on_ice_seconds,assists,goals,pim,shots,saves,powerPlaySaves,shortHandedSaves,evenSaves,shortHandedShotsAgainst,evenShotsAgainst,powerPlayShotsAgainst,decision,savePercentage,powerPlaySavePercentage,evenStrengthSavePercentage
45667,2019020001,8467950,9,3507,0,0,0,42,37,9,0,28,0,32,10,L,88.095238,90.0,87.500000
45668,2019020001,8475883,10,3591,0,0,0,26,23,0,2,21,2,24,0,W,88.461538,NaN,87.500000
45669,2019020002,8474651,15,3771,0,0,0,22,20,1,3,16,3,17,2,W,90.909091,50.0,94.117647
45670,2019020002,8476412,19,3771,0,0,0,34,31,4,1,26,1,28,5,L,91.176471,80.0,92.857143
45671,2019020003,8474593,23,3494,0,0,0,22,19,3,0,16,0,19,3,L,86.363636,100.0,84.210526
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56647,2018030415,8471695,6,3522,0,0,0,21,19,1,1,17,1,19,1,L,90.476190,100.0,89.473684
56650,2018030416,8471695,6,3600,0,0,0,29,28,12,1,15,1,16,12,W,96.551724,100.0,93.750000
56651,2018030416,8476412,19,3487,0,0,0,31,27,3,1,23,1,26,4,L,87.096774,75.0,88.461538
56654,2018030417,8476412,19,3600,0,0,0,33,32,3,0,29,0,30,3,W,96.969697,100.0,96.666667
56655,2018030417,8471695,6,3394,0,0,0,20,16,0,0,16,0,20,0,L,80.000000,NaN,80.000000

In [88]:
game_goalie_clean_2.shape

(56517, 19)

In [89]:
game_goalie_clean_nodup = game_goalie_clean_2.drop_duplicates()

In [90]:
game_goalie_clean_nodup.shape

(51031, 19)

### Player info cleaning

In [91]:
#Checking for mixed values in player info
for col in player_info.columns.tolist():
    weird = (player_info[[col]].applymap(type) != player_info[[col]].iloc[0].apply(type)).any(axis = 1)
    if len (player_info[weird]) > 0:
        print(col)

nationality
birthCity
birthStateProvince
height
shootsCatches

In [92]:
player_info['nationality'].value_counts(dropna = False)

CAN    1896
USA     907
SWE     280
RUS     210
CZE     201
FIN     184
SVK      76
CHE      39
DEU      31
LVA      20
DNK      15
BLR       9
FRA       8
NaN       8
AUT       7
NOR       7
UKR       6
GBR       4
KAZ       4
POL       2
SVN       2
LTU       2
AUS       1
HRV       1
NGA       1
BHS       1
JPN       1
NLD       1
ITA       1
Name: nationality, dtype: int64

In [93]:
player_info['nationality'] = player_info['nationality'].astype('str')

In [94]:
player_info['birthCity'].value_counts(dropna = False)

Toronto              107
Edmonton              93
Montreal              82
Calgary               72
Moscow                56
                    ...
Carbonear              1
Povazská Bystrica      1
Baar                   1
Reading                1
Sveg                   1
Name: birthCity, Length: 1437, dtype: int64

In [95]:
player_info['birthCity'] = player_info['birthCity'].astype('str')

In [96]:
player_info['birthStateProvince'].value_counts(dropna = False)

NaN    1123
ON      746
QC      305
AB      301
BC      205
MN      172
SK      161
MI      122
NY      107
MA      105
MB      102
IL       54
CA       40
WI       33
NS       33
PA       30
CT       24
NJ       22
OH       21
MO       20
NL       17
FL       15
PE       15
AK       14
NB       14
CO       14
ND       12
TX       11
NH       10
WA        9
IN        8
RI        8
UT        6
AZ        5
ME        4
MD        4
IA        4
VA        4
OK        3
NC        3
OR        3
GA        3
NE        2
DC        2
AL        2
VT        2
SC        1
DE        1
NT        1
MS        1
NV        1
Name: birthStateProvince, dtype: int64

In [97]:
player_info.head()

,player_id,firstName,lastName,nationality,birthCity,primaryPosition,birthDate,birthStateProvince,height,height_cm,weight,shootsCatches
0,8466148,Marian,Hossa,SVK,Stará Lubovna,RW,1979-01-12 00:00:00,NaN,"6' 1""",185.42,207.0,L
1,8465058,Michal,Rozsival,CZE,Vlasim,D,1978-09-03 01:00:00,NaN,"6' 1""",185.42,210.0,R
2,8476906,Shayne,Gostisbehere,USA,Pembroke Pines,D,1993-04-20 01:00:00,FL,"5' 11""",180.34,180.0,L
3,8466285,Brian,Campbell,CAN,Strathroy,D,1979-05-23 01:00:00,ON,"5' 10""",177.80,192.0,L
4,8470607,Brent,Seabrook,CAN,Richmond,D,1985-04-20 01:00:00,BC,"6' 3""",190.50,220.0,R

In [98]:
#renaming shootscatches to side shot from
player_info.rename(columns = {'shootsCatches' : 'side_shot_from'}, inplace = True)

In [99]:
#removing birthstate as only apply to North America
player_info_2 = player_info.drop(columns = ['birthStateProvince'])

In [100]:
#Checking for mixed values in player info 2
for col in player_info_2.columns.tolist():
    weird = (player_info_2[[col]].applymap(type) != player_info_2[[col]].iloc[0].apply(type)).any(axis = 1)
    if len (player_info_2[weird]) > 0:
        print(col)

height
side_shot_from

In [101]:
player_info_2['height'].value_counts(dropna = False)

6' 1"     760
6' 2"     708
6' 0"     632
6' 3"     492
5' 11"    446
6' 4"     276
5' 10"    251
6' 5"     112
5' 9"     102
6' 6"      63
5' 8"      37
6' 7"      16
5' 7"      12
6' 8"       9
5' 6"       3
NaN         3
5' 4"       1
6' 9"       1
5' 5"       1
Name: height, dtype: int64

In [102]:
player_info_2['side_shot_from'].value_counts(dropna = False)

L      2594
R      1314
NaN      17
Name: side_shot_from, dtype: int64

In [103]:
player_info_2['height'] = player_info['height'].astype('str')

In [104]:
player_info_2['side_shot_from'] = player_info['side_shot_from'].astype('str')

In [105]:
#Checking for mixed values in player info 2
for col in player_info_2.columns.tolist():
    weird = (player_info_2[[col]].applymap(type) != player_info_2[[col]].iloc[0].apply(type)).any(axis = 1)
    if len (player_info_2[weird]) > 0:
        print(col)

In [106]:
player_info_2.isnull().sum()

player_id          0
firstName          0
lastName           0
nationality        0
birthCity          0
primaryPosition    0
birthDate          0
height             0
height_cm          3
weight             3
side_shot_from     0
dtype: int64

In [107]:
player_nan = player_info_2[player_info_2['weight'].isnull() == True]

In [108]:
player_nan

,player_id,firstName,lastName,nationality,birthCity,primaryPosition,birthDate,height,height_cm,weight,side_shot_from
1300,8479138,Scott,Foster,nan,nan,G,1982-01-17 00:00:00,nan,NaN,NaN,nan
1342,8480718,Ben,Wexler,nan,nan,G,1994-12-23 00:00:00,nan,NaN,NaN,nan
3541,8480356,Kyle,Keyser,nan,Coral Springs,G,1999-03-08 00:00:00,nan,NaN,NaN,L

In [109]:
player_info_2.shape

(3925, 11)

In [110]:
player_info_clean = player_info_2[player_info_2['weight'].isnull() == False]

In [111]:
player_info_clean.shape

(3922, 11)

In [112]:
player_dup = player_info_clean[player_info_clean.duplicated()]

In [113]:
player_dup

Empty DataFrame
Columns: [player_id, firstName, lastName, nationality, birthCity, primaryPosition, birthDate, height, height_cm, weight, side_shot_from]
Index: []

## Merging docs

In [114]:
#Merging game team stats with team info
game_team_stat_merge = team_info_2.merge(game_team_clean_nodup, on = 'team_id', indicator = True)

In [115]:
game_team_stat_merge.head()

,team_id,franchiseId,shortName,teamName,abbreviation,game_id,home_or_away,won,settled_in,head_coach,...,shots,hits,pim,powerPlayOpportunities,powerPlayGoals,faceOffWinPercentage,giveaways,takeaways,blocked,_merge
0,1,23,New Jersey,Devils,NJD,2016020107,home,False,OT,John Hynes,...,32.0,22.0,10.0,4.0,1.0,43.3,7.0,7.0,16.0,both
1,1,23,New Jersey,Devils,NJD,2015020981,home,False,REG,John Hynes,...,18.0,21.0,12.0,3.0,0.0,50.9,7.0,2.0,2.0,both
2,1,23,New Jersey,Devils,NJD,2017020482,away,False,OT,John Hynes,...,32.0,27.0,6.0,3.0,0.0,49.1,12.0,5.0,25.0,both
3,1,23,New Jersey,Devils,NJD,2015020453,away,True,REG,John Hynes,...,21.0,10.0,6.0,1.0,0.0,44.4,2.0,4.0,18.0,both
4,1,23,New Jersey,Devils,NJD,2017020952,home,True,REG,John Hynes,...,33.0,34.0,4.0,1.0,0.0,47.3,11.0,11.0,9.0,both

In [116]:
#Removing merged column
game_team_stat_merge = game_team_stat_merge.drop(columns = ['_merge'])

In [117]:
game_team_stat_merge.shape

(47460, 20)

In [118]:
#Merging game team stats/team info with game doc
game_team_stat_merge_2 = game_team_stat_merge.merge(game_df_clean_nodup, on = 'game_id', indicator = True)

In [119]:
game_team_stat_merge_2.head()

,team_id,franchiseId,shortName,teamName,abbreviation,game_id,home_or_away,won,settled_in,head_coach,...,season,type,date_time_GMT,away_team_id,home_team_id,away_goals,home_goals,outcome,venue,_merge
0,1,23,New Jersey,Devils,NJD,2016020107,home,False,OT,John Hynes,...,20162017,R,2016-10-28T23:30:00Z,16,1,3,2,away win OT,Prudential Center,both
1,16,11,Chicago,Blackhawks,CHI,2016020107,away,True,OT,Joel Quenneville,...,20162017,R,2016-10-28T23:30:00Z,16,1,3,2,away win OT,Prudential Center,both
2,1,23,New Jersey,Devils,NJD,2015020981,home,False,REG,John Hynes,...,20152016,R,2016-03-06T22:00:00Z,5,1,6,1,away win REG,Prudential Center,both
3,5,17,Pittsburgh,Penguins,PIT,2015020981,away,True,REG,Mike Sullivan,...,20152016,R,2016-03-06T22:00:00Z,5,1,6,1,away win REG,Prudential Center,both
4,1,23,New Jersey,Devils,NJD,2017020482,away,False,OT,John Hynes,...,20172018,R,2017-12-15T00:30:00Z,1,8,1,2,home win OT,Centre Bell,both

In [120]:
game_team_stat_merge_2.shape

(47460, 30)

In [121]:
game_team_stat_merge_2.columns

Index(['team_id', 'franchiseId', 'shortName', 'teamName', 'abbreviation',
       'game_id', 'home_or_away', 'won', 'settled_in', 'head_coach', 'goals',
       'shots', 'hits', 'pim', 'powerPlayOpportunities', 'powerPlayGoals',
       'faceOffWinPercentage', 'giveaways', 'takeaways', 'blocked', 'season',
       'type', 'date_time_GMT', 'away_team_id', 'home_team_id', 'away_goals',
       'home_goals', 'outcome', 'venue', '_merge'],
      dtype='object')

In [122]:
#Renaming team stats to reflect
game_team_stat_merge_2.rename(columns = {'hits' : 'team_hits', 'pim' : 'team_pim', 'giveaways' : 'team_giveaways', 'takeaways' : 'team_takeaways', 'blocked' : 'team_blocked'}, inplace = True)

In [123]:
game_team_stat_merge_2.columns

Index(['team_id', 'franchiseId', 'shortName', 'teamName', 'abbreviation',
       'game_id', 'home_or_away', 'won', 'settled_in', 'head_coach', 'goals',
       'shots', 'team_hits', 'team_pim', 'powerPlayOpportunities',
       'powerPlayGoals', 'faceOffWinPercentage', 'team_giveaways',
       'team_takeaways', 'team_blocked', 'season', 'type', 'date_time_GMT',
       'away_team_id', 'home_team_id', 'away_goals', 'home_goals', 'outcome',
       'venue', '_merge'],
      dtype='object')

In [124]:
#Removing merged column
game_team_stat_merge_2 = game_team_stat_merge_2.drop(columns = ['_merge'])

In [125]:
game_team_stat_merge_2['shortName'].value_counts()

Boston          1633
Pittsburgh      1628
Washington      1623
Tampa Bay       1623
San Jose        1615
NY Rangers      1614
Chicago         1611
St Louis        1606
Nashville       1601
Los Angeles     1592
Anaheim         1586
Montreal        1570
Dallas          1570
Philadelphia    1568
Vancouver       1568
NY Islanders    1564
Detroit         1560
Minnesota       1559
Ottawa          1556
Colorado        1552
Columbus        1549
Toronto         1545
Calgary         1543
New Jersey      1540
Carolina        1533
Edmonton        1530
Florida         1528
Buffalo         1518
Phoenix         1052
Atlanta          820
Winnipeg         726
Arizona          489
Vegas            288
Name: shortName, dtype: int64

In [126]:
game_team_stat_merge_2['date'] = pd.to_datetime(game_team_stat_merge_2['date_time_GMT']).dt.date

In [127]:
game_team_stat_merge_2.head()

,team_id,franchiseId,shortName,teamName,abbreviation,game_id,home_or_away,won,settled_in,head_coach,...,season,type,date_time_GMT,away_team_id,home_team_id,away_goals,home_goals,outcome,venue,date
0,1,23,New Jersey,Devils,NJD,2016020107,home,False,OT,John Hynes,...,20162017,R,2016-10-28T23:30:00Z,16,1,3,2,away win OT,Prudential Center,2016-10-28
1,16,11,Chicago,Blackhawks,CHI,2016020107,away,True,OT,Joel Quenneville,...,20162017,R,2016-10-28T23:30:00Z,16,1,3,2,away win OT,Prudential Center,2016-10-28
2,1,23,New Jersey,Devils,NJD,2015020981,home,False,REG,John Hynes,...,20152016,R,2016-03-06T22:00:00Z,5,1,6,1,away win REG,Prudential Center,2016-03-06
3,5,17,Pittsburgh,Penguins,PIT,2015020981,away,True,REG,Mike Sullivan,...,20152016,R,2016-03-06T22:00:00Z,5,1,6,1,away win REG,Prudential Center,2016-03-06
4,1,23,New Jersey,Devils,NJD,2017020482,away,False,OT,John Hynes,...,20172018,R,2017-12-15T00:30:00Z,1,8,1,2,home win OT,Centre Bell,2017-12-15

In [128]:
game_team_stat_merge_2['type'].value_counts()

R    45612
P     1848
Name: type, dtype: int64

In [130]:
game_team_stat_merge_2.rename(columns = {'shortName' : 'team_location'}, inplace = True)

In [131]:
game_team_stat_merge_2.head()

,team_id,franchiseId,team_location,teamName,abbreviation,game_id,home_or_away,won,settled_in,head_coach,...,season,type,date_time_GMT,away_team_id,home_team_id,away_goals,home_goals,outcome,venue,date
0,1,23,New Jersey,Devils,NJD,2016020107,home,False,OT,John Hynes,...,20162017,R,2016-10-28T23:30:00Z,16,1,3,2,away win OT,Prudential Center,2016-10-28
1,16,11,Chicago,Blackhawks,CHI,2016020107,away,True,OT,Joel Quenneville,...,20162017,R,2016-10-28T23:30:00Z,16,1,3,2,away win OT,Prudential Center,2016-10-28
2,1,23,New Jersey,Devils,NJD,2015020981,home,False,REG,John Hynes,...,20152016,R,2016-03-06T22:00:00Z,5,1,6,1,away win REG,Prudential Center,2016-03-06
3,5,17,Pittsburgh,Penguins,PIT,2015020981,away,True,REG,Mike Sullivan,...,20152016,R,2016-03-06T22:00:00Z,5,1,6,1,away win REG,Prudential Center,2016-03-06
4,1,23,New Jersey,Devils,NJD,2017020482,away,False,OT,John Hynes,...,20172018,R,2017-12-15T00:30:00Z,1,8,1,2,home win OT,Centre Bell,2017-12-15

In [132]:
#exporting 
game_team_stat_merge_2.to_csv(os.path.join(path, 'Prepared Data', 'game_team_stat_merge_final.csv'))

In [139]:
#exporting to check for errors
game_player_team_merge_all.to_csv(os.path.join(path, 'Prepared Data', 'game_team_stats_merged_all.csv'))

In [146]:
#exporting to check for errors
game_goalie_merge_2.to_csv(os.path.join(path, 'Prepared Data', 'game_goalie_merged.csv'))